body {
  font-family: system-ui, sans-serif;  
}

.application-outlet, .parent-outlet {
  padding: 1rem;
  margin: 1rem;
}

.application-outlet {
  border: 10px solid green;
}

.parent-outlet {
  border: 5px solid orange;
}

ul.link-list li {
  margin-bottom: 1rem;
}