<h1>Application Template</h1>

<h4>Query Param Links</h4>
<ul class="link-list">
  <li data-test-reset-all>
    {{#link-to "parent.child" (reset-query-params)}}
      Reset all
    {{/link-to}}
  </li>
  <li data-test-reset-via-url-key>
    {{#link-to "parent.child" (reset-query-params "app")}}
      Reset whitelisted query param (url key: app)
    {{/link-to}}
  </li>
  <li data-test-reset-via-param>
    {{#link-to "parent.child" (reset-query-params "applicationQp")}}
      Reset whitelisted query param (controller prop key: applicationQp)
    {{/link-to}}
  </li>
  <li data-test-create-qp-via-positional-params>
    {{#link-to "parent.child" (create-query-params sampleQueryParams)}}
      Create query params (hash positional param)
    {{/link-to}}
  </li>
  <li data-test-create-qp-via-named-params>
    {{#link-to "parent.child"
      (create-query-params
        app=25
        parentQp="P-a-r-e-n-t"
        childQp="C-h-i-l-d"
      )
    }}
      Create query params (named params)
    {{/link-to}}
  </li>
  <li data-test-create-single-qp>
    {{#link-to "parent.child"
      (create-query-params childQp="Create Child Qp")
    }}
      Create a single new query param (childQp)
    {{/link-to}}
  </li>
  <li data-test-merge-reset-create>
    {{#link-to "parent.child"
      (merge-query-params
        (reset-query-params)
        (create-query-params childQp="Only the Child Qp Is Left")
      )
    }}
      Merge:<br>
      &nbsp;&nbsp;Reset all query params,<br>
      &nbsp;&nbsp;Create a new query param (childQp)
    {{/link-to}}
  </li>
</ul>

<code>applicationQp (app): {{applicationQp}}</code>

<div class="application-outlet">
  {{outlet}}
</div>
